{{{tal.doctype}}}
{{{tal.rootTag}}}
<head>
  <title>{{ title }}</title>
  {{{tal.deviceHeaders}}}
  <link rel="stylesheet" href="/style/base.css"/>
  <script>
    var antie = {{{json tal.config compact=true}}};
    var require = {
      baseUrl: "",
      paths: {
        '{{tal.app_id}}': 'js',
        antie : "/components/tal/static/script",
        'bbcrd/widgets/input-text': "/components/tal-input-text/src/widgets/input-text"
      },
      priority: [],
      callback: function() {}
    };
  </script>
  <script src="/components/requirejs/require.js"></script>
</head>
<body>
{{{tal.deviceBody}}}

<div id="static-loading-screen" style="position: absolute; width: 100%; height: 100%;">
  {{!-- Application is loading the TAL Application... --}}
</div>

<div id="app" class="display-none">{{{ body }}}</div>

<script>
  require.onError = function(e){
    var div = document.createElement('div');
    div.innerHTML = e.message;
    div.className = 'message error-message';

    document.body.appendChild(div);
  };

  require(
    [
      '{{tal.app_id}}/appui/bootstrap'
    ],
    function(SampleApp) {

      require.ready(function() {
        function onReady() {
          // var staticLoadingScreen = document.getElementById('static-loading-screen');
          // staticLoadingScreen.parentNode.removeChild(staticLoadingScreen);
        }

        var app = new SampleApp(document.getElementById('app'), 'style/', 'img/', onReady);
      });

    }
  );
</script>
</body>
</html>